<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <servlet>
        <servlet-name>goodSelect</servlet-name>
        <servlet-class>shop_servlets.GoodSelectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>goodSelect</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>startPage</servlet-name>
        <servlet-class>shop_servlets.StartPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>startPage</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>shop_servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>menuServlet</servlet-name>
        <servlet-class>shop_servlets.MenuServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>menuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addGood</servlet-name>
        <servlet-class>shop_servlets.GoodEnterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addGood</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

</web-app>
